.dropdown2 {
    position: relative;
    display: inline-block;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10rem;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
    padding: 0.75rem 1rem;
    z-index: 1;
    top: 0.945rem;
    right: 0.005rem;
    padding-left: 1rem;
    padding-right: 0rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    background: transparent;
}
.dropdown2:hover .dropdown-content2 {
    display: block;
}